@page
@model MoneyPlus.Pages.Payees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payee.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payee.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payee.NIF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payee.NIF)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Payee?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
