@page
@model MoneyPlus.Pages.Reports.MonthlyExpensesModel

@{
    var date = Model.Expenses.FirstOrDefault().Date;
    ViewData["Title"] = $"MonthlyExpenses - {date.ToShortDateString}";

    var nextDate = date.AddMonths(1);
    var prevDate = date.AddMonths(-1);
}

<h1>Monthly Expenses</h1>

<p>
    @*<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>*@
    <a asp-page="./MonthlyExpenses" asp-route-month="@prevDate.Month" asp-route-year="@prevDate.Year">Previous Month</a>
    <a asp-page="./MonthlyExpenses" asp-route-month="@nextDate.Month" asp-route-year="@nextDate.Year">Next Month</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].PaymentMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Asset)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Expenses[0].User)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].Payee)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Expenses[0].Transaction)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Expenses[0].CategoryType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expenses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)<i> €</i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset.Name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Payee.Name)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Transaction.Id)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryType.Name)
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h4>Total for Category</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgregatedExpensesByCategory[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgregatedExpensesByCategory[0].TotalAmount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AgregatedExpensesByCategory)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)<i> €</i>
                </td>

            </tr>
        }
    </tbody>
</table>

<hr />
<h4>Total for Payee</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgregatedExpensesByPayee[0].Payee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgregatedExpensesByPayee[0].TotalAmount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AgregatedExpensesByPayee)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Payee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)<i> €</i>
                </td>

            </tr>
        }
    </tbody>
</table>

<hr />
<h4>Total for Asset</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgregatedExpensesByAsset[0].Asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgregatedExpensesByAsset[0].TotalAmount)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AgregatedExpensesByAsset)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Asset)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)<i> €</i>
                </td>

            </tr>
        }
    </tbody>
</table>

@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Payee.Id" />
            <div class="form-group">
                <label asp-for="Payee.Name" class="control-label"></label>
                <input asp-for="Payee.Name" class="form-control" />
                <span asp-validation-for="Payee.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payee.NIF" class="control-label"></label>
                <input asp-for="Payee.NIF" class="form-control" />
                <span asp-validation-for="Payee.NIF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@