@page
@model MoneyPlus.Pages.Reports.TotalExpensesByYearModel

@{
    var year = Model.YearlyExpensesBySubCategory.Categories.FirstOrDefault().MonthlyValuesByYear.FirstOrDefault().Year;

    ViewData["Title"] = $"TotalExpensesByYear - {year}";

    var prevYear = year - 1;
    var nextYear = year + 1;
}

<h1>Total Expenses By Year</h1>

<p>
    <a asp-page="./TotalExpensesByYear" asp-route-year="@prevYear">Previous Year</a>
    <a asp-page="./TotalExpensesByYear" asp-route-year="@nextYear">Next Year</a>
</p>

<hr />
<h4>Total for Category/Year</h4>
<table class="table">
    <thead>
        <tr>
            <th></th>
            @for (int i = year - 1; i <= year + 1; i++)
            {
                <th>
                    <b>
                        @Html.Raw(new DateTime(i, 1, 1).ToString("yyyy", CultureInfo.InvariantCulture))
                    </b>
                </th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model.YearlyExpensesBySubCategory.Categories)
        {
            <tr>
                <td> <b>@Html.DisplayFor(modelItem => category.CategoryName)</b></td>
                @for (int j = year - 1; j <= year + 1; j++)
                {
                    <td>
                        <b>
                            @Html.Raw(String.Format("{0:C}", category.MonthlyValuesByYear.FirstOrDefault(p=> p.Year == j)?.Amount ?? 0))
                        </b>
                    </td>
                }
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th class="">Total</th>
            @for (int j = year - 1; j <= year + 1; j++)
            {
                <td>
                    <b>
                        @Html.Raw(String.Format("{0:C}", Model.YearlyExpensesBySubCategory.Categories
                    .SelectMany(p=>p.MonthlyValuesByYear).Where(p=>p.Year == j).Sum(a=>a.Amount)))
                    </b>
                </td>
            }
        </tr>
    </tfoot>
</table>
<hr />