@page
@model MoneyPlus.Pages.Reports.YearlyExpensesModel

@{
    var year = Model.ExpensesBySubCategory.Categories.FirstOrDefault().MonthlyValues.FirstOrDefault().Year;
    ViewData["Title"] = $"YearlyExpenses - {year}";

    var prevYear = year - 1;
    var nextYear = year + 1;
}

<h1>Yearly Expenses</h1>

<p>
    <a asp-page="./YearlyExpenses" asp-route-year="@prevYear">Previous Year</a>
    <a asp-page="./YearlyExpenses" asp-route-year="@nextYear">Next Year</a>
</p>

<hr />
<h4>Total for Category/Month</h4>
<table class="table">
    <thead>
        <tr>
            <th>@Model.ExpensesBySubCategory.Categories.FirstOrDefault().MonthlyValues.FirstOrDefault().Year</th>
            @for (int i = 1; i <= 12; i++)
            {
                <th>
                    @Html.Raw(new DateTime(2010, i, 1).ToString("MMM", CultureInfo.InvariantCulture))
                </th>
            }
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model.ExpensesBySubCategory.Categories)
        {
            <tr>
                <td> <b>@Html.DisplayFor(modelItem =>category.CategoryName)</b> </td>
                @for (int j = 1; j <= 12; j++)
                {
                    <td>
                        <b>
                            @Html.Raw(String.Format("{0:C}",category.MonthlyValues.FirstOrDefault(p=> p.Month == j)?.Amount ?? 0))
                        </b>
                    </td>
                }
                @*Total by category*@
                <td>
                    <b>
                        @Html.Raw(String.Format("{0:C}",Model.ExpensesBySubCategory.Categories.Where(p=>p.CategoryName.Equals(category.CategoryName))
                    .SelectMany(p=>p.MonthlyValues).Sum(a=>a.Amount)))
                    </b>
                </td>

            </tr>
            foreach (var subcategory in category.SubCategoryList)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem =>subcategory.SubCategoryName) </td>
                    @for (int j = 1; j <= 12; j++)
                    {
                        <td>
                            @Html.Raw(String.Format("{0:C}",subcategory.MonthlyValues.FirstOrDefault(p=> p.Month == j)?.Amount ?? 0))
                        </td>
                    }
                    <td>
                        <b>
                            @Html.Raw(String.Format("{0:C}",Model.ExpensesBySubCategory.Categories
                    .SelectMany(p=>p.SubCategoryList).Where(s=>s.SubCategoryName.Equals(subcategory.SubCategoryName))
                    .SelectMany(s=>s.MonthlyValues).Sum(a=>a.Amount)))
                        </b>
                    </td>
                </tr>
            }
        }
    </tbody>

    <tfoot>
        <tr>
            <th class="">Total</th>
            @for (int j = 1; j <= 12; j++)
            {
                <td>
                    <b>
                        @Html.Raw(String.Format("{0:C}",Model.ExpensesBySubCategory.Categories
                    .SelectMany(p=>p.MonthlyValues).Where(p=>p.Month == j).Sum(a=>a.Amount)))
                    </b>
                </td>
            }
            <td>
                <b>
                    @Html.Raw(String.Format("{0:C}",Model.ExpensesBySubCategory.Categories
                    .SelectMany(p=>p.MonthlyValues).Sum(a=>a.Amount)))
                </b>
            </td>
        </tr>
    </tfoot>
</table>
<hr />