@page
@model MoneyPlus.Pages.Reports.YearlyExpensesModel

@{
    var year = Model.ExpensesBySubCategory.Categories.FirstOrDefault().MonthlyValues.FirstOrDefault().Year;
    ViewData["Title"] = $"YearlyExpenses - {year}";

    var nextYear = year++;
    var prevYear = year--;
}

<h1>Yearly Expenses</h1>

<p>
    @*<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>*@
    <a asp-page="./YearlyExpenses" asp-route-year="@prevYear">Previous Year</a>
    <a asp-page="./YearlyExpenses" asp-route-year="@nextYear">Next Year</a>
</p>

<hr />
<h4>Total for Category/Month</h4>
<table class="table">
    <thead>
        <tr>
            <th>@Model.ExpensesBySubCategory.Categories.FirstOrDefault().MonthlyValues.FirstOrDefault().Year</th>
            @for (int i = 1; i <= 12; i++)
            {
                <th>
                    @Html.Raw(new DateTime(2010, i, 1).ToString("MMM", CultureInfo.InvariantCulture))
                </th>
            }
        </tr>

    </thead>

    <tbody>
        @foreach (var category in Model.ExpensesBySubCategory.Categories)
        {
            <tr>
                <td> <b>@Html.DisplayFor(modelItem =>category.CategoryName)</b> </td>
                @for (int j = 1; j <= 12; j++)
                {
                    <td>
                        <b>
                            @Html.Raw(category.MonthlyValues.FirstOrDefault(p=> p.Month == j)?.Amount ?? 0)
                        </b>
                    </td>
                }
            </tr>
            foreach (var subcategory in category.SubCategoryList)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem =>subcategory.SubCategoryName) </td>
                    @for (int j = 1; j <= 12; j++)
                    {
                        <td>
                            @Html.Raw(subcategory.MonthlyValues.FirstOrDefault(p=> p.Month == j)?.Amount ?? 0)
                        </td>
                    }
                </tr>
            }
        }
    </tbody>

    <tfoot>
        <tr>
            <th class="">Total</th>
            @foreach (var category in Model.ExpensesBySubCategory.Categories)
            {

            }
        </tr>
    </tfoot>
</table>
<hr />
